<%- include('partials/head.ejs') %>   
</head>
<body>
    <%- include('partials/dashboard.ejs') %>
    <div class="form-wrapper">
      <% if(errorMessage){ %> 
        <div class="error-message"><%= errorMessage %> </div>
      <% } %> 
      <div class="form">
        <form action="/new-user" method="POST">
          <div class="form-group">
              <label for="numeroCliente">Numero do Cliente</label>
              <input type="number" class="form-control <%= validationErrors.find(error=> error.param === 'numeroCliente') ? 'invalid' : '' %>" name="numeroCliente" value="<%= oldInput.numeroCliente %>">
            </div>
          <div class="form-group">
            <label for="nomeCliente">Nome</label>
            <input type="text" class="form-control <%= validationErrors.find(error=> error.param === 'nomeCliente') ? 'invalid' : '' %>" name="nomeCliente" value="<%= oldInput.nomeCliente %>">
          </div>
          <div class="form-group">
            <label for="emailCliente">E-mail</label>
            <input type="email" class="form-control <%= validationErrors.find(error=> error.param === 'emailCliente') ? 'invalid' : '' %>" name="emailCliente" value="<%= oldInput.emailCliente %>">
          </div>
          <div class="form-group">
            <label for="cpfCliente">CPF</label>
            <input type="number" class="form-control <%= validationErrors.find(error=> error.param === 'cpfCliente') ? 'invalid' : '' %>" name="cpfCliente" maxlength="11" value="<%= oldInput.cpfCliente %>">
          </div>
          <div class="form-group">
            <label for="telefoneCliente">Telefone</label>
            <input type="number" class="form-control <%= validationErrors.find(error=> error.param === 'telefoneCliente') ? 'invalid' : '' %>" name="telefoneCliente" maxlength="11" value="<%= oldInput.telefoneCliente %>">
          </div>
          
          <button type="submit" class="btn">Cadastrar</button>
        </form>
      </div>

    </div>
   
    
    <%- include('partials/footer.ejs') %>

</body>
</html>